.CFUserTextEncoding
.gitconfig  
.netrc
.zcompdump-dune1-5.7.1
.DS_Store
.MCTranscodingSDK
.Trash
.adobe
.android
.archey-ip
.atom
.bash_history
.bash_sessions
.bundle
.cache
.cacher
.config
.cups
.dock.html.swp
.dropbox
.emacs
.emacs.d
.gem
.gitkraken
.html.html.swo
.hyper.js
.hyper_plugins
.kindle
.lesshst
.links
.local
.luna
.luna_manager
.mono
.mutt
.muttrc
.newscript.swp
.npm
.oh-my-zsh
.oracle_jre_usage
.pcloud
.shell.pre-oh-my-zsh
.ssh
.start_app_logs
.subversion
.swp
.thumbnails
.tldr
.viminfo
.vscode
.vsplit.swp
.wget-hsts
.zcompdump-Europa-5.3
.zcompdump-Europa-5.7.1
.zcompdump-dune1-5.3
.zsh_history
Adlm
Applications
BrawlhallaReplays
Calibre Library
Creative Cloud Files
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
My Games
Pictures
Public
VirtualBox VMs
WarThunderLauncherLogs
key.pages
passwordKey.md
projects
quotes
quotes.dat
repo
xgen
yabai
