.DS_Store
.bin/assets/corona
.config/vifm/vifminfo
.vim/plugged/
.config/nvim/plugged/
.config/nvim/.netrwhist
.config/configstore/
.config/coc/
.config/zsh/.zsh_history
.config/yay/
.config/spotify/
.config/nitrogen/
.config/pcmanfm/
.config/Typora/
.config/GIMP/
.config/autostart/
.config/pulse/
.config/dconf/
.config/autokey/
.config/evolution/
.config/Typora__cly_event.json
.config/Typora__cly_id.json
.config/Typora__cly_queue.json
.config/goa-1.0
.config/gtk-2.0
.config/gtk-3.0
.config/VirtualBox/
.config/eDEX-UI/
.config/qtfm6/
.config/transmission-daemon/
.config/obs-studio/
.config/QtProject.conf
.config/vlc/
.config/Trolltech.conf
.config/akregatorrc
.config/baloofileinformationrc
.config/dolphinrc
.config/kateschemarc
.config/kconf_updaterc
.config/kdeglobals
.config/kiorc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/kwinrc
.config/trashrc
.config/oomox/
