.DS_Store
.config/libfm/libfm.conf
.bin/assets/corona
.config/vifm/vifminfo
.vim/plugged/
.config/nvim/plugged/
.config/nvim/.netrwhist
.config/configstore/
.config/coc/
.config/zsh/.zsh_history
.config/yay/
.config/spotify/
.config/nitrogen/
.config/pcmanfm/
.config/Typora/
.config/GIMP/
.config/autostart/
.config/pulse/
.config/dconf/
.config/autokey/
.config/evolution/
.config/Typora__cly_event.json
.config/Typora__cly_id.json
.config/Typora__cly_queue.json
.config/goa-1.0
.config/gtk-2.0
.config/VirtualBox/
.config/eDEX-UI/
.config/qtfm6/
.config/transmission-daemon/
.config/obs-studio/
.config/QtProject.conf
.config/vlc/
.config/Trolltech.conf
.config/akregatorrc
.config/baloofileinformationrc
.config/dolphinrc
.config/kateschemarc
.config/kconf_updaterc
.config/kdeglobals
.config/kiorc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/kwinrc
.config/trashrc
.config/oomox/
.config/blender/
.config/calibre/
.config/enchant/
.config/gedit/
.config/torbrowser/
.config/libreoffice/
.config/awesome/collision
.config/Unknown Organization.conf
.config/autorandr/
.config/baloofilerc
.config/dde-printer.ini
.config/deepin/
.config/fontconfig/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kcminputrc
.config/kde.org/
.config/kded5rc
.config/kglobalshortcutsrc
.config/kmixctrlrc
.config/kmixrc
.config/kritadisplayrc
.config/kritarc
.config/ktimezonedrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/mimeapps.list
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmashellrc
.config/redshift/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xsettingsd/
.config/gtk-3.0/settings.ini
.config/plex.tv/
.config/mutt/
.config/vivaldi/
.config/xfce4/
.config/variety/
.config/cef_user_data/
.config/ristretto/
.config/flameshot/
.config/goverlay/
.config/Mousepad/
.config/qt5ct/colors/
.config/wal_steam/
