#siteDialog {
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 9px rgba(60, 74, 84, .7);
  margin: 7px 9px 11px 9px;
  background-color: #F3F4F7;
}

#siteDialog .dialogContent {
  padding: 10px;
}

#siteDialog .link {
  margin-top: 15px;
}

.question {
  line-height: 19px;
}

.explanation {
  font-size: 12px;
}

.usernameInput {
  margin-bottom: 9px;
}

.addNewSiteButton {
  font-size: 12px;
  margin-top: 10px;
}

.tilePrimary {
  font-weight: 600;
}

.tileSecondary {
  color: #8C969D;
  font-size: 12px;
}

.tile .tilePrimary,
.tile .tileSecondary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 10px;
}

.tileContainer {
  margin: 10px -10px 0 -10px;
}

.tile {
  height: 70px;
  box-shadow: 0 1px 4px #BCCAD4;
  border-radius: 2px;
  margin: 10px 10px 5px;
  position: relative;
  background-color: #FFF;
}

.tile:first-child {
  margin-top: 3px;
}

.tileTable {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.summaryView .tileTable,
.deleteOverlay {
  height: 100%;
}

.tileTableCell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.tileHover,
.deleteButtonCell,
.cancelDeleteButtonCell {
  width: 80px;
}

.addSiteFaviconContainer {
  width: 60px;
  background-color: #FFF;
  text-align: center;
  vertical-align: top !important;
}

.addSiteFavicon,
.summaryView {
  height: 70px;
  position: relative;
}

.summaryView {
  position: absolute;
  top: 0;
}

.addSiteFavicon > img {
  border-radius: 2px;
  max-height: 32px;
  max-width: 32px;
}

.addSiteFavicon > img,
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.tile.selected .addSiteFavicon > img {
  opacity: 0;
}

.dialogForm {
  padding: 10px;
  background-color: #F5F6F9;
  display: none;
}

.tile .dialogForm {
  display: block;
}

.template, .template.tile {
  display: none;
}

.siteDialogButtons {
  text-align: right;
  height: 35px;
  margin-top: 10px;
}

#removeGeneratedConfirmation,
#removeGeneratedConfirmation .siteDialogButtons {
  text-align: center;
}

.logo {
  height: 100%;
  width: 80px;
  float: left;
  background-image: url('images/LP_logo_flat_monitor_300.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 80px auto;
}

.siteDialogButtons > button {
  font-size: 14px;
  height: 100%;
  border-radius: 2px;
  padding: 0 10px 0;
  box-sizing: border-box;
}

.siteDialogButtons > button:disabled {
  cursor: inherit;
  background-color: #969696!important;
}

.siteDialogButtons > .rbtn,
.deleteButton {
  background-color: #D32D27;
}

.siteDialogButtons > .rbtn {
  padding: 0 15px;
  min-width: 100px;
}

.selectable .siteDialogButtons > .rbtn {
  opacity: .6;
  cursor: default;
}

.selectable.selected .siteDialogButtons > .rbtn {
  opacity: 1;
  cursor: pointer;
}

.siteDialogButtons > .gbtn {
  background-color: #4A4A4A;
  margin-right: 10px;
  min-width: 100px;
}

.siteDialogButtons > .rbtn:hover,
.deleteButton:hover {
  background-color: #AF0809;
}

.selectable .siteDialogButtons > .rbtn:hover {
  background-color: #D32D27;
}

.selectable.selected .siteDialogButtons > .rbtn:hover {
  background-color: #AF0809;
}

.siteDialogButtons > .gbtn:hover {
  background-color: #2b2b2b;
}

/*
* Checkmark
*/

.checkmark {
  height: 20px;
  width: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 1;
}

.tile.selected .checkmark {
  opacity: 1 !important;
}

.tile.duplicate .checkmark {
  opacity: 0 !important;
}

.checkmark:hover {
  border: 1px solid #8C969D;
}

.tile.selected .checkmark {
  background-color: #00AEBB;
  background-image: url('images/checkmark.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

/*
* Edit button
*/

.tileEditCell {
  cursor: pointer;
}

.tileEdit {
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 70px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}


.hideTile {
  display: none;
}

.showCell {
  display: table-cell;
}

.moreItem {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.moreItem-override:hover {
  background-color: transparent !important;
}

.background {
  background-image: url('images/vault_4.0/Edit.png');
}

.fontAwesomeIcon {
  color: #AAB1B5;
  line-height: 0px !important;
  font-size: 15px !important;
}

.circle.empty {
  opacity: 0.6;
}

.circle.empty.circleHover .fontAwesomeIcon {
  color: #AAB1B5;
}

.circle {
  color: #E7E8EA;
  line-height: 0px !important;
  width: 102% !important;
  transition: 200ms all;
}

.circleHover {
  color: #D32D27;
  font-size: 32px !important;
}

.circleHover .fontAwesomeIcon {
  color: white;
}


/*
* Tile Hover
*/

.hoverFadeIn,
.hoverFadeOut {
  transition: opacity .5s;
}

.hoverFadeIn,
.tile:hover .hoverFadeOut {
  opacity: 0;
}

.tile:hover .hoverFadeIn,
.hoverFadeOut {
  opacity: 1;
}

/*
* Delete Overlay
*/

.deleteOverlay {
  opacity: 0;
  animation-duration: .2s;
  animation-name: fade-out;
}

.tile.duplicate .deleteOverlay {
  opacity: 1;
  animation-name: fade-in;
}

.deleteOverlayContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.deleteOverlay button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.deleteButton {
  color: #fff;
  font-size: 12px;
}

.deleteSummary {
  padding-left: 10px;
}

.deleteSummary,
.cancelDeleteButtonCell {
  background-color: #f5f6f9;
}

.cancelDeleteButtonCell {
  font-size: 11px;
}

.deleteOverlay .tileSecondary {
  font-size: 11px;
  color: #9b9b9b;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*******************************************************************************
*                                Animations
*******************************************************************************/

#siteDialog.animate-enter,
#siteDialog.animate-enter .siteDialogHeader,
#siteDialog.animate-enter .siteDialogContent {
  animation-duration: .66s;
}

#siteDialog.animate-enter {
  animation-name: siteDialog-slidein;
}

#siteDialog.animate-enter .siteDialogHeader {
  animation-name: siteDialogHeader-fadein;
}

#siteDialog.animate-enter .siteDialogContent {
  animation-name: siteDialogContent-fadein;
}

@keyframes siteDialog-slidein {
  from, 50% {
    -webkit-animation-timing-function: cubic-bezier(.7, 0, .3, 1);
    animation-timing-function: cubic-bezier(.7, 0, .3, 1);
  }
  to {
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .6, 1);
    animation-timing-function: cubic-bezier(.4, 0, .6, 1);
  }
  from {
    right: -300px;
  }
  50% {
    right: 25px;
  }
  to {
    right: 0;
  }
}

@keyframes siteDialogHeader-fadein {
  25%, 75% {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  from, 25% {
    opacity: 0;
  }
  75%, to {
    opacity: 1;
  }
}

@keyframes siteDialogContent-fadein {
  75%, to {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  from, 75% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
* Edit Animation
*/

.tileContainer {
  transition: max-height .3s;
}

.tile.animating {
  transition: height .3s;
  overflow: hidden;
}

.details-animatation .dialogForm,
.details-animatation .summaryView {
  animation-duration: .3s;
}

.tile .dialogForm,
.tile.details .summaryView {
  opacity: 0;
}

.tile.details .dialogForm,
.tile .summaryView {
  opacity: 1;
}

.tile.details-animatation .dialogForm,
.tile.details.details-animatation .summaryView {
  animation-name: details-fade-out
}

.tile.details.details-animatation .dialogForm,
.tile.details-animatation .summaryView {
  animation-name: details-fade-in
}

@keyframes details-fade-in {
  from, 25% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes details-fade-out {
  from {
    opacity: 1;
  }
  75%, to {
    opacity: 0;
  }
}

/*
* Hover Animations
*/

/*
* Submit Animation
*/

#siteDialog.inProcess .tileContainer {
  animation-duration: .4s;
  animation-name: tile-shrink-submit;
  overflow: hidden !important;
}

#siteDialog.inProcess .siteDialogHeader,
#siteDialog.inProcess .siteDialogContent {
  animation-duration: .4s;
  animation-name: fadeout;
  white-space: nowrap;
}

#siteDialog.inProcess.waiting .tile,
#siteDialog.inProcess.success .tile,
#siteDialog.inProcess.waiting .siteDialogHeader,
#siteDialog.inProcess.success .siteDialogHeader,
#siteDialog.inProcess.waiting .siteDialogContent,
#siteDialog.inProcess.success .siteDialogContent {
  visibility: hidden;
}

.animationContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.animationContainer > div {
  display: table;
  height: 100%;
  width: 100%;
}

.animationContainer > div > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inProcessAnimation {
  display: none;
  width: 50px;
  height: 30px;
}

.inProcessAnimation rect {
  height: 100%;
  width: 100%;
}

#siteDialog.inProcess.waiting .inProcessAnimation {
  display: inline;
}

#siteDialog.inProcess.waiting .animationContainer,
#siteDialog.inProcess.success .animationContainer {
  display: block;
}

#inProcessAnimation-greenBG {
  x: 50px;
}

@keyframes tile-shrink-submit {
  from {
    margin-left: 0;
    margin-right: 0;
  }
  to {
    margin-left: 50%;
    margin-right: 50%;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*
* Success Animation
*/

.successAnimation {
  display: none;
}

.successMessage {
  font-wieght: 600;
  margin-top: 15px;
}

#siteDialog.success .successAnimation {
  display: block;
}

.successAnimation svg {
  height: 20px;
  width: 25px;
}

#successCheckmark {
  stroke-dasharray: 30;
  animation: success-checkmark 1s;
}

.successFadeIn {
  animation: success-message 1s;
}

@keyframes success-checkmark {
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes success-message {
  from {
    opacity: 0;
  }
  50%, to {
    opacity: 1;
  }
}

/*
* Confirmation View
*/

.removeGeneratedConfirmation .main,
#removeGeneratedConfirmation {
  display: none;
}

.removeGeneratedConfirmation #removeGeneratedConfirmation {
  display: table;
  height: 100%;
}

.confirmationTitle {
  margin-bottom: 6px;
}

.confirmationText {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 15px;
  font-weight: 300;
}


#siteDialog .dialogContent .summaryView .actionCell {
  display: none;
}