/*
* Content Script Dialog Overrides
*/

.dialog {
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 2px 4px 2px;
}

.dialogState #dialogOverlay {
  display: none;
}

.dialogState.modal #dialogOverlay {
  display: block;
}

body {
  position: relative;
  overflow: visible;
  height: 100%;
  width: 100%;
}

button.link {
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}

.showPassword.textual,
.showPassword.textual.selected {
  width: auto;
  background-image: none;
  font-size: 11px;
  max-width: 100%;
  font-weight: 600;
}

/*
* Hover States
*/

.lighterHover:hover,
button.link:hover {
  opacity: .6;
}

.darkerFillHover, .darkerFillHover .buttonText {
  position: relative;
}

.darkerFillHover:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(60, 74, 84, 0.2);
}
