.billingAddressNotification .panelContent h1 {
    margin: 20px 0 15px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(23, 33, 40);
}

.billingAddressNotification .panelContent p {
    text-align: center;
    color: rgb(23, 33, 40);
    margin: 6px 0 30px;
    font-size: 13px;
    line-height: 150%;
}

.billingAddressNotification .panelContent {
    padding: 12px 16px 24px 16px;
    text-align: center;
}

.billingAddressNotification .panelContent button {
    padding: 0px 26px;
    border-radius: 25px;
    line-height: 45px;
    width: initial;
    font-size: 13px;
}

.billingAddressNotification .panelContent a {
    font-size: 12px;
    text-decoration: none;
}

.billingAddressNotification .panelContent img {
    display: block;
    margin: 20px auto 20px;
}

/* from extensionLanguageUpdate */

.billingAddressNotification.panelIsActive #container {
    position: relative;
}

.billingAddressNotification.panelIsActive #container::after {
    clear: both;
    content: '';
    display: table;
}

.billingAddressNotification .panelContainer * {
    box-sizing: border-box;
}

.billingAddressNotification.panelIsActive .panelContainer {
    display: inline-block;
    float: left;
    color: rgb(23, 33, 40);
    overflow: hidden;
    padding: 0;
}

.billingAddressNotification.panelIsActive .innerWrapper {
    width: 350px;
    right: 0;
    float: right;
}

#panelContainer{
    width: 322px;
}