#repromptDialog {
  width: 390px;
}

#repromptDialog .dialogContent {
  padding-bottom: 0;
}

#reprompt-federated {
  display: none;
}

.overlay--lp-modal {
  background-color: #22313B;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1050;
  -webkit-transition: opacity 0.45s;
  -moz-transition: opacity 0.45s;
  -ms-transition: opacity 0.45s;
  -o-transition: opacity 0.45s;
  transition: opacity 0.45s;
}

.overlay--lp-modal.is-visible {
  opacity: .48;
  visibility: visible;
}

.container--lp-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transform-origin: bottom center;
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.container--lp-modal.is-visible,
.container--lp-modal.is-visible .lp-modal {
  transform: translateY(0%) scale(1);
  opacity: 1;
  -webkit-transition: all 225ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 225ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 225ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 225ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 225ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lp-modal {
  background-color: #FFF;
  border-radius: 2px;
  height: auto;
  width: 500px;
  position: relative;
  margin: 100px auto;
  font-family: "Open Sans", sans-serif;
  transform-origin: bottom center;
  opacity: 0;
  transform: scale(0.9);
  -webkit-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 195ms cubic-bezier(0.25, 0.8, 0.25, 1), opacity 195ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0 7px 8px -4px rgba(23, 33, 40, 0.2), 0 13px 19px 2px rgba(23, 33, 40, 0.16), 0 5px 24px 4px rgba(23, 33, 40, 0.18);
  -moz-box-shadow: 0 7px 8px -4px rgba(23, 33, 40, 0.2), 0 13px 19px 2px rgba(23, 33, 40, 0.16), 0 5px 24px 4px rgba(23, 33, 40, 0.18);
  -ms-box-shadow: 0 7px 8px -4px rgba(23, 33, 40, 0.2), 0 13px 19px 2px rgba(23, 33, 40, 0.16), 0 5px 24px 4px rgba(23, 33, 40, 0.18);
  -o-box-shadow: 0 7px 8px -4px rgba(23, 33, 40, 0.2), 0 13px 19px 2px rgba(23, 33, 40, 0.16), 0 5px 24px 4px rgba(23, 33, 40, 0.18);
  box-shadow: 0 7px 8px -4px rgba(23, 33, 40, 0.2), 0 13px 19px 2px rgba(23, 33, 40, 0.16), 0 5px 24px 4px rgba(23, 33, 40, 0.18);
}
@media (min-width: 640px) {
  .lp-modal .lp-modal {
    width: 600px;
    margin: 100px auto;
  }
}

.lp-modal__header {
  background-color: #f7f9fa;
  border-radius: 2px;
  color: #646d73;
  padding: 18px 36px 18px 36px;
  position: relative;
}

.lp-modal__header__close__button {
  color: #646d73;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 36px;
  font-size: 18px;
  font-style: normal;
}

.lp-modal__header__title {
  color: #646d73;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.lp-modal__body {
  padding: 36px;
  overflow-y: auto;
  text-align: center;
}

.image-container {
  height: 128px;
  width: 128px;
  margin: 0 auto 36px;
}

.loading-gif {
  background-image: url('images/vault_4.0/lp-loading.gif');
  background-size: cover;
  height: 128px;
  width: 128px;
}

.loading-gif.is-hidden {
  display: none;
}

.login-error {
  font-size: 111px;
  font-style: normal;
  color: #FFFFFF;
  display: none;
  background: #EDE04B;
  border-radius: 50%;
  padding: 0 5px 0 0;
}

.login-error.is-visible {
  display: block;
}

.lp-modal__footer {
  padding: 0 36px 36px 36px;
  text-align: right;
}

.lp-modal__footer .button {
  margin: 0;
  min-height: 36px;
  text-transform: uppercase;
}

.login-text.is-hidden {
  display: none;
}

.error-text {
  display: none;
}

.error-text.is-visible {
  display: block;
}