#restrictedSharingDialog {
    max-width: 550px;
    max-height: 359px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 13px;
    color: #22303a;
}

#restrictedSharingDialog .restricted-sharing-icon{
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}
#restrictedSharingDialog .restricted-sharing-icon img {
    width: 147px;
}

#restrictedSharingDialog .dialogHeader {
    background-color: #f7f9fa;
    box-shadow: 0 1px 0 0 #e7e8ea;
    color: #646d73;
    line-height: 60px;
    font-size: 18px;
    font-weight: 400;
}

#restrictedSharingDialog .buttons {
    margin-top: 24px;
}
#restrictedSharingDialog .upgrade-btn {
    min-width: auto;
    padding: 0 15px;
    border-radius: 25px;
    font-weight: normal;
    line-height: 38px;
    background: #d32d27;
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

#restrictedSharingDialog .upgrade-btn:disabled {
    background: grey;
    cursor: default;
}

#restrictedSharingDialog .remind-btn:disabled  {
    cursor: default;
}

#restrictedSharingDialog .remind-btn {
    min-width: auto;
    padding: 0 15px;
    border-radius: 25px;
    line-height: 38px;
    font-weight: 400;
    background: #fff;
    cursor: pointer;
    font-size: 11px;
    border: 0;
    color: #646d73;
    text-transform: uppercase;
}

#restricted-sharing-text p {
    width: 502px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #22303a;
}

#restrictedSharingDialog .dialogCloseButton{
    background-image: url('images/vault_4.0/Close_Small.png');
    background-color: transparent;
    border: none;
    color: #000;
    box-sizing: content-box;
    padding: 0;
    font-size: inherit;
}