#securityNoticeDialog {
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#securityNoticeDialogDisableSite,
#securityNoticeDialogDisableAll {
  font-size: 12px;
  cursor: pointer;
}

#securityNoticeDialogDisableSite {
  margin-right: 20px;
}

#securityNoticeDialogDisableSite:hover,
#securityNoticeDialogDisableAll:hover {
  text-decoration: underline;
}

#securityNoticeDialogDescription {
  margin-bottom: 20px;
}

.securityNoticeDialogName {
  font-weight: bold;
}

.hide {
  display: none;
}
