#shareDialog {
  max-width: 900px;
  max-height: 500px;
}

#shareDialog .checkboxContainer {
  margin-top: 20px;
}

#shareDialogRecipients {
  margin-top: 20px;
}

#shareDialog .shareDialogFreeWarning {
  display: block;
  width: 270px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
#shareDialog .shareDialogFreeWarning .shareDialogFreeWarningIcon{
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px auto 0;
  padding: 10px;
}
#shareDialog .shareDialogFreeWarning .shareDialogFreeWarningText{
  font-size: 14px;
  letter-spacing: 0.12px;
  margin: 0 10px 0 10px;
  text-align: center;
  display: block;
}

.upgradeButton {
  width: 90px;
  font-size: 12px;
  font-weight: 600;
  padding: 9px 20px;
  margin: 12px auto 0;
  text-align: center;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,.25);
  border-radius: 100px;
  display: block;
  cursor: pointer;
  background-color: #D22D27;
  color: white;
}

#shareDialog .shareDialogFreeWarning.hidden {
  display: none;
}

/*
******* No Existing Shares or Sites *******
*/

#shareDialog.noShares .dialogRightPane {
  left: 50%;
}

#shareDialog.noShares .dialogLeftPane {
  width: 50%;
}

#shareItemsContainer {
  margin-top: 20px;
}

/*
******* No Existing Shares *******
*/

#shareDialog.noShares.site {
  max-width: 500px;
}

#shareDialog.noShares.site .dialogRightPane {
  display: none;
}

#shareDialog.noShares.site .dialogLeftPane {
  width: auto;
  right: 0;
}

#shareDialog.noShares #shareDialogExistingShareContainer {
  display: none;
}

#shareDialog.site #shareDialogItemSearch {
  display: none;
}
