"*":
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    lineHeight: 1.25
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "706aa09f-70f7-4a10-9117-c23e41c0e1f6"
  welcome:
    showOnStartup: false
