* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
    padding: .2rem .1rem;
}

window#waybar {
    background: rgba(0,0,0,.8); 
    color: #fbf1c7;
}

tooltip {
  background: #282828;
  border: 1px solid #fe8019;
}
tooltip label {
  color: #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ebdbb2;
}

#workspaces button.active {
    color: #ebdbb2; 
}

#cpu, #temperature, #battery, #pulseaudio, #backlight, #idle_inhibitor {
    padding: 0 .2rem;
    margin-right: 1.3rem; 
}

#clock {
    margin-right: 2rem;
}

#battery.charging {
    color: #ebdbb2; 
    font-style: italic; 
}

#battery.warning:not(.charging) {
    color: #fb4934;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
