[colors]
# https://critical.ch/xterm/
foreground      = ghost
foreground_bold = #c5c8c6
cursor          = #c5c8c6
# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)
# Arc theme
background = rgba(64, 69, 82, 0.8)

# black
color0  = #3f3f3f
color8  = #709080

# red
color1  = #705050
color9  = #dca3a3

# green
color2  = #e4b928
color10 = #e8b50b

# yellow
color3  = #dfaf8f
color11 = #f0dfaf

# blue
color4  = #506070
color12 = #94bff3

# magenta
color5  = #dc8cc3
color13 = #ec93d3

# cyan
color6  = #298fea
color14 = #62a8e7

# white
color7  = #dcdccc
color15 = #ffffff

