[colors]

# special
foreground      = #c0b18b
foreground_bold = #c0b18b
cursor          = #c0b18b
#background      = #1f1f1f
background = rgba(31 ,31, 31, 0.85)

# black
color0  = #4a3637
color8  = #4a3637

# red 
color1  = #d17b49
color9  = #d17b49

# green
color2  = #7b8748
color10 = #7b8748

# yellow
color3  = #af865a
color11 = #af865a

# blue
color4  = #535c5c
color12 = #535c5c

# magenta
color5  = #775759
color13 = #775759

# cyan
color6  = #6d715e
color14 = #6d715e

# white
color7  = #c0b18b
color15 = #c0b18b
