[colors]
# Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

foreground      = #e9e9f4
foreground_bold = #f1f2f8
cursor          = #f1f2f8
background      = #282936

# 16 color space

# Black, Gray, Silver, White
color0  = #282936
color8  = #626483
color7  = #e9e9f4
color15 = #f7f7fb

# Red
color1  = #ea51b2
color9  = #ea51b2

# Green
color2  = #ebff87
color10 = #ebff87

# Yellow
color3  = #00f769
color11 = #00f769

# Blue
color4  = #62d6e8
color12 = #62d6e8

# Purple
color5  = #b45bcf
color13 = #b45bcf

# Teal
color6  = #a1efe4
color14 = #a1efe4

# Extra colors
color16 = #b45bcf
color17 = #00f769
color18 = #3a3c4e
color19 = #4d4f68
color20 = #62d6e8
color21 = #f1f2f8
