[colors]
# Base16 Atelier Lakeside
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground      = #7ea2b4
foreground_bold = #c1e4f6
cursor          = #c1e4f6
background      = #161b1d

# 16 color space

# Black, Gray, Silver, White
color0  = #161b1d
color8  = #5a7b8c
color7  = #7ea2b4
color15 = #ebf8ff

# Red
color1  = #d22d72
color9  = #d22d72

# Green
color2  = #568c3b
color10 = #568c3b

# Yellow
color3  = #8a8a0f
color11 = #8a8a0f

# Blue
color4  = #257fad
color12 = #257fad

# Purple
color5  = #6b6bb8
color13 = #6b6bb8

# Teal
color6  = #2d8f6f
color14 = #2d8f6f

# Extra colors
color16 = #935c25
color17 = #b72dd2
color18 = #1f292e
color19 = #516d7b
color20 = #7195a8
color21 = #c1e4f6
