[colors]
# Base16 Twilight
# Author: David Hart (https://github.com/hartbit)

foreground      = #a7a7a7
foreground_bold = #c3c3c3
cursor          = #c3c3c3
background      = #1e1e1e

# 16 color space

# Black, Gray, Silver, White
color0  = #1e1e1e
color8  = #5f5a60
color7  = #a7a7a7
color15 = #ffffff

# Red
color1  = #cf6a4c
color9  = #cf6a4c

# Green
color2  = #8f9d6a
color10 = #8f9d6a

# Yellow
color3  = #f9ee98
color11 = #f9ee98

# Blue
color4  = #7587a6
color12 = #7587a6

# Purple
color5  = #9b859d
color13 = #9b859d

# Teal
color6  = #afc4db
color14 = #afc4db

# Extra colors
color16 = #cda869
color17 = #9b703f
color18 = #323537
color19 = #464b50
color20 = #838184
color21 = #c3c3c3
