[colors]
# Base16 Atelier Savanna
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground      = #87928a
foreground_bold = #dfe7e2
cursor          = #dfe7e2
background      = #171c19

# 16 color space

# Black, Gray, Silver, White
color0  = #171c19
color8  = #5f6d64
color7  = #87928a
color15 = #ecf4ee

# Red
color1  = #b16139
color9  = #b16139

# Green
color2  = #489963
color10 = #489963

# Yellow
color3  = #a07e3b
color11 = #a07e3b

# Blue
color4  = #478c90
color12 = #478c90

# Purple
color5  = #55859b
color13 = #55859b

# Teal
color6  = #1c9aa0
color14 = #1c9aa0

# Extra colors
color16 = #9f713c
color17 = #867469
color18 = #232a25
color19 = #526057
color20 = #78877d
color21 = #dfe7e2
