[colors]
# Base16 Hopscotch
# Author: Jan T. Sott

foreground      = #b9b5b8
foreground_bold = #d5d3d5
cursor          = #d5d3d5
background      = #322931

# 16 color space

# Black, Gray, Silver, White
color0  = #322931
color8  = #797379
color7  = #b9b5b8
color15 = #ffffff

# Red
color1  = #dd464c
color9  = #dd464c

# Green
color2  = #8fc13e
color10 = #8fc13e

# Yellow
color3  = #fdcc59
color11 = #fdcc59

# Blue
color4  = #1290bf
color12 = #1290bf

# Purple
color5  = #c85e7c
color13 = #c85e7c

# Teal
color6  = #149b93
color14 = #149b93

# Extra colors
color16 = #fd8b19
color17 = #b33508
color18 = #433b42
color19 = #5c545b
color20 = #989498
color21 = #d5d3d5
