[colors]
# Base16 Eighties
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #d3d0c8
foreground_bold = #e8e6df
cursor          = #e8e6df
background      = #2d2d2d

# 16 color space

# Black, Gray, Silver, White
color0  = #2d2d2d
color8  = #747369
color7  = #d3d0c8
color15 = #f2f0ec

# Red
color1  = #f2777a
color9  = #f2777a

# Green
color2  = #99cc99
color10 = #99cc99

# Yellow
color3  = #ffcc66
color11 = #ffcc66

# Blue
color4  = #6699cc
color12 = #6699cc

# Purple
color5  = #cc99cc
color13 = #cc99cc

# Teal
color6  = #66cccc
color14 = #66cccc

# Extra colors
color16 = #f99157
color17 = #d27b53
color18 = #393939
color19 = #515151
color20 = #a09f93
color21 = #e8e6df
