[colors]
# Base16 Mocha
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #d0c8c6
foreground_bold = #e9e1dd
cursor          = #e9e1dd
background      = #3B3228

# 16 color space

# Black, Gray, Silver, White
color0  = #3B3228
color8  = #7e705a
color7  = #d0c8c6
color15 = #f5eeeb

# Red
color1  = #cb6077
color9  = #cb6077

# Green
color2  = #beb55b
color10 = #beb55b

# Yellow
color3  = #f4bc87
color11 = #f4bc87

# Blue
color4  = #8ab3b5
color12 = #8ab3b5

# Purple
color5  = #a89bb9
color13 = #a89bb9

# Teal
color6  = #7bbda4
color14 = #7bbda4

# Extra colors
color16 = #d28b71
color17 = #bb9584
color18 = #534636
color19 = #645240
color20 = #b8afad
color21 = #e9e1dd
