[colors]
# Base16 Woodland
# Author: Jay Cornwall (https://jcornwall.com)

foreground      = #cabcb1
foreground_bold = #d7c8bc
cursor          = #d7c8bc
background      = #231e18

# 16 color space

# Black, Gray, Silver, White
color0  = #231e18
color8  = #9d8b70
color7  = #cabcb1
color15 = #e4d4c8

# Red
color1  = #d35c5c
color9  = #d35c5c

# Green
color2  = #b7ba53
color10 = #b7ba53

# Yellow
color3  = #e0ac16
color11 = #e0ac16

# Blue
color4  = #88a4d3
color12 = #88a4d3

# Purple
color5  = #bb90e2
color13 = #bb90e2

# Teal
color6  = #6eb958
color14 = #6eb958

# Extra colors
color16 = #ca7f32
color17 = #b49368
color18 = #302b25
color19 = #48413a
color20 = #b4a490
color21 = #d7c8bc
