[colors]
# Base16 Gruvbox dark, pale
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

foreground      = #dab997
foreground_bold = #d5c4a1
cursor          = #d5c4a1
background      = #262626

# 16 color space

# Black, Gray, Silver, White
color0  = #262626
color8  = #8a8a8a
color7  = #dab997
color15 = #ebdbb2

# Red
color1  = #d75f5f
color9  = #d75f5f

# Green
color2  = #afaf00
color10 = #afaf00

# Yellow
color3  = #ffaf00
color11 = #ffaf00

# Blue
color4  = #83adad
color12 = #83adad

# Purple
color5  = #d485ad
color13 = #d485ad

# Teal
color6  = #85ad85
color14 = #85ad85

# Extra colors
color16 = #ff8700
color17 = #d65d0e
color18 = #3a3a3a
color19 = #4e4e4e
color20 = #949494
color21 = #d5c4a1
