[colors]
# Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #c5c8c6
foreground_bold = #e0e0e0
cursor          = #e0e0e0
background      = #1d1f21

# 16 color space

# Black, Gray, Silver, White
color0  = #1d1f21
color8  = #969896
color7  = #c5c8c6
color15 = #ffffff

# Red
color1  = #cc6666
color9  = #cc6666

# Green
color2  = #b5bd68
color10 = #b5bd68

# Yellow
color3  = #f0c674
color11 = #f0c674

# Blue
color4  = #81a2be
color12 = #81a2be

# Purple
color5  = #b294bb
color13 = #b294bb

# Teal
color6  = #8abeb7
color14 = #8abeb7

# Extra colors
color16 = #de935f
color17 = #a3685a
color18 = #282a2e
color19 = #373b41
color20 = #b4b7b4
color21 = #e0e0e0
