[colors]
# Base16 Ocean
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #c0c5ce
foreground_bold = #dfe1e8
cursor          = #dfe1e8
background      = #2b303b

# 16 color space

# Black, Gray, Silver, White
color0  = #2b303b
color8  = #65737e
color7  = #c0c5ce
color15 = #eff1f5

# Red
color1  = #bf616a
color9  = #bf616a

# Green
color2  = #a3be8c
color10 = #a3be8c

# Yellow
color3  = #ebcb8b
color11 = #ebcb8b

# Blue
color4  = #8fa1b3
color12 = #8fa1b3

# Purple
color5  = #b48ead
color13 = #b48ead

# Teal
color6  = #96b5b4
color14 = #96b5b4

# Extra colors
color16 = #d08770
color17 = #ab7967
color18 = #343d46
color19 = #4f5b66
color20 = #a7adba
color21 = #dfe1e8
