[colors]
# Base16 Atelier Forest
# Author: Bram de Haan (http://atelierbramdehaan.nl)

foreground      = #a8a19f
foreground_bold = #e6e2e0
cursor          = #e6e2e0
background      = #1b1918

# 16 color space

# Black, Gray, Silver, White
color0  = #1b1918
color8  = #766e6b
color7  = #a8a19f
color15 = #f1efee

# Red
color1  = #f22c40
color9  = #f22c40

# Green
color2  = #7b9726
color10 = #7b9726

# Yellow
color3  = #c38418
color11 = #c38418

# Blue
color4  = #407ee7
color12 = #407ee7

# Purple
color5  = #6666ea
color13 = #6666ea

# Teal
color6  = #3d97b8
color14 = #3d97b8

# Extra colors
color16 = #df5320
color17 = #c33ff3
color18 = #2c2421
color19 = #68615e
color20 = #9c9491
color21 = #e6e2e0
