[Desktop Entry]
Encoding=UTF-8
Name=Link to grand hotel ttf
Type=Link
URL=https://www.urbanfonts.com/fonts/Grand_Hotel.font
Icon=text-html
Name[en_US.utf8]=Link to grandhotel ttf
