[Desktop Entry]
Encoding=UTF-8
Name=Link to eurostile ttf
Type=Link
URL=https://www.fontsmarket.com/font-download/eurostile-regular
Icon=text-html
Name[en_US.utf8]=Link to eurostile ttf
