[Desktop Entry]
Encoding=UTF-8
Name=Link to Poirot One ttf
Type=Link
URL=https://fonts.google.com/specimen/Poiret+One?selection.family=Poiret+One
Icon=text-html
Name[en_US.utf8]=Link to Poirot One ttf
