[colors]
# Base16 Harmonic16 Light
# Author: Jannik Siebert (https://github.com/janniks)

foreground      = #405c79
foreground_bold = #223b54
cursor          = #223b54
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #f7f9fb
color8  = #aabcce
color7  = #405c79
color15 = #0b1c2c

# Red
color1  = #bf8b56
color9  = #bf8b56

# Green
color2  = #56bf8b
color10 = #56bf8b

# Yellow
color3  = #8bbf56
color11 = #8bbf56

# Blue
color4  = #8b56bf
color12 = #8b56bf

# Purple
color5  = #bf568b
color13 = #bf568b

# Teal
color6  = #568bbf
color14 = #568bbf

# Extra colors
color16 = #bfbf56
color17 = #bf5656
color18 = #e5ebf1
color19 = #cbd6e2
color20 = #627e99
color21 = #223b54
