[colors]
# Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #00bb00
foreground_bold = #00dd00
cursor          = #00dd00
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #001100
color8  = #007700
color7  = #00bb00
color15 = #00ff00

# Red
color1  = #007700
color9  = #007700

# Green
color2  = #00bb00
color10 = #00bb00

# Yellow
color3  = #007700
color11 = #007700

# Blue
color4  = #009900
color12 = #009900

# Purple
color5  = #00bb00
color13 = #00bb00

# Teal
color6  = #005500
color14 = #005500

# Extra colors
color16 = #009900
color17 = #005500
color18 = #003300
color19 = #005500
color20 = #009900
color21 = #00dd00
