[colors]
# ArcoLinux Default Theme
background = rgba(40, 42, 54, 0.8)

# special
foreground      = #b7b8b9
foreground_bold = #b7b8b9
cursor          = #b7b8b9

# black
color0  = #0c0d0e
color8  = #737475

# red
color1  = #e31a1c
color9  = #e31a1c

# green
color2  = #31a354
color10 = #31a354

# yellow
color3  = #dca060
color11 = #dca060

# blue
color4  = #3182bd
color12 = #3182bd

# magenta
color5  = #756bb1
color13 = #756bb1

# cyan
color6  = #80b1d3
color14 = #80b1d3

# white
color7  = #b7b8b9
color15 = #fcfdfe
