[colors]
# Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)

foreground      = #5f574f
foreground_bold = #c2c3c7
cursor          = #c2c3c7
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #008751
color7  = #5f574f
color15 = #fff1e8

# Red
color1  = #ff004d
color9  = #ff004d

# Green
color2  = #00e756
color10 = #00e756

# Yellow
color3  = #fff024
color11 = #fff024

# Blue
color4  = #83769c
color12 = #83769c

# Purple
color5  = #ff77a8
color13 = #ff77a8

# Teal
color6  = #29adff
color14 = #29adff

# Extra colors
color16 = #ffa300
color17 = #ffccaa
color18 = #1d2b53
color19 = #7e2553
color20 = #ab5236
color21 = #c2c3c7
