[colors]
# Base16 Nord
# Author: arcticicestudio

foreground      = #E5E9F0
foreground_bold = #ECEFF4
cursor          = #ECEFF4
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #2E3440
color8  = #4C566A
color7  = #E5E9F0
color15 = #8FBCBB

# Red
color1  = #88C0D0
color9  = #88C0D0

# Green
color2  = #BF616A
color10 = #BF616A

# Yellow
color3  = #5E81AC
color11 = #5E81AC

# Blue
color4  = #EBCB8B
color12 = #EBCB8B

# Purple
color5  = #A3BE8C
color13 = #A3BE8C

# Teal
color6  = #D08770
color14 = #D08770

# Extra colors
color16 = #81A1C1
color17 = #B48EAD
color18 = #3B4252
color19 = #434C5E
color20 = #D8DEE9
color21 = #ECEFF4
