[colors]
# Base16 Pop
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #d0d0d0
foreground_bold = #e0e0e0
cursor          = #e0e0e0
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #505050
color7  = #d0d0d0
color15 = #ffffff

# Red
color1  = #eb008a
color9  = #eb008a

# Green
color2  = #37b349
color10 = #37b349

# Yellow
color3  = #f8ca12
color11 = #f8ca12

# Blue
color4  = #0e5a94
color12 = #0e5a94

# Purple
color5  = #b31e8d
color13 = #b31e8d

# Teal
color6  = #00aabb
color14 = #00aabb

# Extra colors
color16 = #f29333
color17 = #7a2d00
color18 = #202020
color19 = #303030
color20 = #b0b0b0
color21 = #e0e0e0
