[colors]
# Base16 Grayscale Dark
# Author: Alexandre Gavioli (https://github.com/Alexx2/)

foreground      = #b9b9b9
foreground_bold = #e3e3e3
cursor          = #e3e3e3
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #101010
color8  = #525252
color7  = #b9b9b9
color15 = #f7f7f7

# Red
color1  = #7c7c7c
color9  = #7c7c7c

# Green
color2  = #8e8e8e
color10 = #8e8e8e

# Yellow
color3  = #a0a0a0
color11 = #a0a0a0

# Blue
color4  = #686868
color12 = #686868

# Purple
color5  = #747474
color13 = #747474

# Teal
color6  = #868686
color14 = #868686

# Extra colors
color16 = #999999
color17 = #5e5e5e
color18 = #252525
color19 = #464646
color20 = #ababab
color21 = #e3e3e3
