[colors]
# Base16 Rebecca
# Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)

foreground      = #f1eff8
foreground_bold = #ccccff
cursor          = #ccccff
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #292a44
color8  = #666699
color7  = #f1eff8
color15 = #53495d

# Red
color1  = #a0a0c5
color9  = #a0a0c5

# Green
color2  = #6dfedf
color10 = #6dfedf

# Yellow
color3  = #ae81ff
color11 = #ae81ff

# Blue
color4  = #2de0a7
color12 = #2de0a7

# Purple
color5  = #7aa5ff
color13 = #7aa5ff

# Teal
color6  = #8eaee0
color14 = #8eaee0

# Extra colors
color16 = #efe4a1
color17 = #ff79c6
color18 = #663399
color19 = #383a62
color20 = #a0a0c5
color21 = #ccccff
