[colors]
# Base16 Brewer
# Author: Timothée Poisot (http://github.com/tpoisot)

foreground      = #b7b8b9
foreground_bold = #dadbdc
cursor          = #dadbdc
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #0c0d0e
color8  = #737475
color7  = #b7b8b9
color15 = #fcfdfe

# Red
color1  = #e31a1c
color9  = #e31a1c

# Green
color2  = #31a354
color10 = #31a354

# Yellow
color3  = #dca060
color11 = #dca060

# Blue
color4  = #3182bd
color12 = #3182bd

# Purple
color5  = #756bb1
color13 = #756bb1

# Teal
color6  = #80b1d3
color14 = #80b1d3

# Extra colors
color16 = #e6550d
color17 = #b15928
color18 = #2e2f30
color19 = #515253
color20 = #959697
color21 = #dadbdc
