[colors]
# Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)

foreground      = #c0c0c0
foreground_bold = #c0c0c0
cursor          = #c0c0c0
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #808080
color7  = #c0c0c0
color15 = #ffffff

# Red
color1  = #dd0907
color9  = #dd0907

# Green
color2  = #1fb714
color10 = #1fb714

# Yellow
color3  = #fbf305
color11 = #fbf305

# Blue
color4  = #0000d3
color12 = #0000d3

# Purple
color5  = #4700a5
color13 = #4700a5

# Teal
color6  = #02abea
color14 = #02abea

# Extra colors
color16 = #ff6403
color17 = #90713a
color18 = #404040
color19 = #404040
color20 = #808080
color21 = #c0c0c0
