[colors]
# ArcoLinux Default Theme
background = rgba(40, 42, 54, 0.8)

# special
foreground      = #f8f8f2
foreground_bold = #f8f8f2
cursor          = #f8f8f2

# black
color0  = #000000
color8  = #79A9FF

# red
color1  = #ff5555
color9  = #ff6e67

# green
color2  = #50fa7b
color10 = #5af78e

# yellow
color3  = #f1fa8c
color11 = #f4f99d

# blue
color4  = #6790EB
color12 = #79A9FF

# magenta
color5  = #ff79c6
color13 = #ff92d0

# cyan
color6  = #8be9fd
color14 = #9aedfe

# white
color7  = #bfbfbf
color15 = #e6e6e6
