[colors]
# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

foreground      = #A39A90
foreground_bold = #BEB6AE
cursor          = #BEB6AE
background = rgba(40, 42, 54, 0.8)

# 16 color space

# Black, Gray, Silver, White
color0  = #16130F
color8  = #5A5047
color7  = #A39A90
color15 = #DBD6D1

# Red
color1  = #826D57
color9  = #826D57

# Green
color2  = #57826D
color10 = #57826D

# Yellow
color3  = #6D8257
color11 = #6D8257

# Blue
color4  = #6D5782
color12 = #6D5782

# Purple
color5  = #82576D
color13 = #82576D

# Teal
color6  = #576D82
color14 = #576D82

# Extra colors
color16 = #828257
color17 = #825757
color18 = #2C2620
color19 = #433B32
color20 = #8A8075
color21 = #BEB6AE
